$main-text: hsl(0, 0%, 20%);

$main: darken(#8fd3f4, 20%);
$main--alt: darken($main, 10%);
$secondary: hsl(0, 0%, 98%);
$secondary--alt: darken($secondary, 5%);

$outline-focus: hsl(0, 0%, 50%);
$disabled-input: hsl(0, 0%, 50%);

$card-color: white;
$modal-color: white;

$white: white;
$gray: hsl(0, 0%, 50%);
$gray-20: hsl(0, 0%, 20%);
$gray-90: hsl(0, 0%, 90%);

$top-container-z-index: 20;
$scroll-top-container-z-index: 10;
$modal-z-index: 30;
