@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_variables";

h1,
h2,
h3,
h4 {
  color: $main-text;
}

.top-container {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &.stick {
    position: fixed;
    top: 0;
    z-index: $top-container-z-index;
  }
}

.main-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  padding-top: 50px;

  .right-container {
    min-width: calc(350px + 2rem);
    padding-left: 2rem;
  }

  .left-container {
    min-width: calc(350px + 2rem);

    h1 {
      padding-left: 2rem;
    }
  }
}

.todos-container {
  display: flex;
  flex-direction: column;
}

.btn {
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: $main;
  color: $secondary;
  border: 1px solid $main;
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: $main--alt;
  border-color: $main--alt;
  color: $secondary--alt;
}

.btn--alt {
  background-color: $secondary;
  color: $main;
}

.btn--alt:hover,
.btn--alt:focus,
.btn--alt:active {
  background-color: $secondary--alt;
  color: $main--alt;
}

// .normal-card {
//   background-color: $card;
//   border-radius: 4px;
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
//   padding: 1rem;
//   width: 20rem;
//   margin-bottom: 1rem;
// }

// .normal-card:hover {
//   background-color: $secondary--alt;
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
// }

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;

  &.hidden {
    display: none;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    float: left;
    width: 350px;
    min-height: 150px;
    background: $card-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 250ms;
    padding: 1rem;

    h3 {
      // font-size: 2em;
      color: $main-text;
    }

    &.rounded {
      border-radius: 0.25rem;
    }

    &.gradient {
      color: white;
      font-weight: bolder;
      &.gradient-1 {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      &.gradient-2 {
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
      }
      &.gradient-3 {
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
      }
      &.gradient-4 {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      }
    }

    &.checked {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

      // color: inherit;

      // text-decoration-color: $main-text;
      // text-decoration: line-through 0.15em;
      // text-decoration-line: line-through;
    }

    // &.checked:focus,
    // &.checked:hover,
    // &.checked:active {
    //   text-decoration-line: none;
    // }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
    }

    &:hover .timestamp {
      opacity: 1;
    }

    .timestamp {
      opacity: 0;
      color: lighten($main-text, 20%);
      position: absolute;
      left: 7px;
      bottom: 7px;
      transition: opacity 300ms ease-in-out;
    }

    .delete-btn {
      position: absolute;
      right: 0.4rem;
      top: 0.4rem;
      border-radius: 0.15rem;
      border: none;
      padding: 0;
      cursor: pointer;
      background: none;

      .close-icon {
        width: 0.75rem;
        height: 0.75rem;

        background-color: $main-text;
        transform-origin: bottom left;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          30% 50%,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          70% 50%,
          100% 20%,
          80% 0%,
          50% 30%
        );

        // Make text inside not selectable
        // -webkit-touch-callout: none;
        // -webkit-user-select: none;
        // -khtml-user-select: none;
        // -moz-user-select: none;
        // -ms-user-select: none;
        // user-select: none;
      }

      &:focus .close-icon,
      &:hover .close-icon,
      &:active .close-icon {
        background-color: lighten($main-text, 30%);
      }
    }

    .textarea {
      width: calc(350px - 2rem);
      min-height: 75px;
      border-color: $gray-90;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 250ms;
      padding: 0.25rem;
      resize: vertical;

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  .checkbox {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.toolbar-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(700px + 4rem);
  height: 3rem;

  .checkbox {
    cursor: pointer;
    transform: scale(1.5);
  }

  .delete-all-btn {
    padding: 0;
    border: none;
    background: none;
    color: $main-text;
    cursor: pointer;

    .icon g,
    .icon path {
      fill: $main-text;
    }

    &:focus,
    &:hover,
    &:active {
      .icon g,
      .icon path {
        fill: lighten($main-text, 30%);
      }
    }
  }

  .input-search {
    width: calc(100% - 4rem);
    height: 40px;
    border-radius: 0.25rem;
    border: 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    transition: outline 250ms;

    // margin-right: 1rem;

    &:hover,
    &:focus,
    &:active {
      outline: max(1px, 0.1em) solid $outline-focus;
    }
  }
}

.actions {
  // text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-z-index - 2;

  .backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: $modal-z-index - 1;
  }

  .modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: $modal-color;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    position: fixed;
    width: 500px;
    top: 10vh;
    left: calc(50% - 250px);
    z-index: $modal-z-index;
  }
}

.scroll-top-container {
  position: fixed;
  bottom: 1vh;
  right: 0;
  z-index: $scroll-top-container-z-index;

  &.hidden {
    display: none;
  }
}

.chevron {
  border: solid $secondary;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

// ----------------------------------------
@media (max-width: 800px) {
  .main-container {
    align-items: center;
    flex-direction: column-reverse;

    .left-container,
    .right-container {
      min-width: 350px;
      padding: 0;
    }

    .left-container h1 {
      padding: 0;
    }
  }

  .toolbar-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .card-container {
    display: initial;
    position: relative;

    .checkbox {
      position: absolute;
      left: 0.4rem;
      top: 0.4rem;
      z-index: 1;
    }
  }

  .modal-container {
    .modal {
      width: 350px;
      left: calc(50% - 175px);
    }
  }
}

// For mobile only
@media only screen and (hover: none) and (pointer: coarse) {
  .card {
    // &.checked {
    //   text-decoration-line: none;
    // }
    .timestamp {
      opacity: 1;
    }
  }
}
