@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_variables";

* {
  box-sizing: border-box;
  outline: none;
  // border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: fade-out(
    mix(#8fd3f4, #84fab0),
    0.7
  ); // rgba(138, 231, 210, 0.3)
  // background-image: linear-gradient(to bottom, #84faaf33 0%, #8fd3f433 100%);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="text"], input[type="search"] {
  font-size: 1rem;
}

input[type="search"] {
  border: 1px solid $gray;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

input[type="search"].dark {
  background: $gray-20;
  color: $white;
}

input[type="search"].light {
  background: $white;
  color: $gray-20;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}
